<launch>
  <arg name="model" />
  <arg name="gui"  default="False" />
  <!-- Loading model files -->
  <param  name="robot_description"  command="$(find xacro)/xacro '$(find guide_robot)/urdf/my_scout_mini.urdf.xacro'" />
  <param  name="use_gui"  value="$(arg gui)" />
  <!-- Launch  the joint state publisher -->
  <node  name="joint_state_publisher"  pkg="joint_state_publisher"  type="joint_state_publisher" />
  <!-- Launch  the robot state publisher -->
  <node  name="robot_state_publisher"  pkg="robot_state_publisher"  type="robot_state_publisher" />
  <!-- Loading rviz files -->
</launch>
