<launch>
  <arg name="robot_namespace" default="/"/>
  <!-- argument for imu use -->
  <arg name="imu_enable" default="true" />   

  <include file="$(find guide_robot)/launch/spawn_guide_robot.launch"/>
  <node name="rviz"  pkg="rviz"  type="rviz"  args="-d $(find guide_robot)/rviz/planning.rviz" />

      
  <!-- Load the surrounding environment into Gazebo -->
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find guide_robot)/worlds/neighborhood_guide.world"/> 
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <node pkg="timed_roslaunch" type="timed_roslaunch.sh" args="15 guide_robot octomap.launch" name="timed_roslaunch" output="screen" />
  
    <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 map odom 100"/>

    <!--Interpolator--> 
    <node name="interpolator" pkg="tracking_pid" type="path_interpolator">
        <param name="target_x_vel" value="1"/>
        <param name="target_x_acc" value="1"/>
        <param name="target_yaw_vel" value="1"/>
        <param name="target_yaw_acc" value="1"/>    
    </node>-->

  <!-- PID controller--> 
    <node name="controller" pkg="tracking_pid" type="controller" output="screen">
        <remap from="move_base/cmd_vel" to="/cmd_vel"/>
        <remap from="local_trajectory" to="trajectory"/>
        <param name="controller_debug_enabled" value="True"/>
        <param name="track_base_link" value="true"/>
        <param name="l" value="0.08"/>
        <param name="Kp_long" value="1"/>
        <param name="Ki_long" value="0.1"/>
        <param name="Kd_long" value="0.5"/>
        <param name="Ki_lat" value="0.0"/>
        <param name="Kp_lat" value="0.0"/>
        <param name="Kd_lat" value="0.0"/>
        <param name="Kp_ang" value="1"/>
        <param name="Ki_ang" value="0.16"/>
        <param name="Kd_ang" value="1"/>
        <param name="map_frame" value="map"/>
    </node>
</launch>
